.banner{
    background-color:peachpuff;
}
.banner{
    background-color:darkgray;
    padding: 10px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left:100px;
    margin-right:100px;
    text-align: center;
}